body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 40px;
}

h1{
    color: #1a73e8;
}

.demo-img{
    width: 250px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}