<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice1 item list</title>
</head>
<body>
    <div>
        <h4>Practice1 Item List</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for practice1 in practice1data %}
            <tr>
                <td>{{practice1.name}}</td>
                <td>{{practice1.email}}</td>
                <td><a href="/update/{{practice1.id}}">Edit</a></td>
                <td><a href="/delete/{{practice1.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table> <br>
        <button onclick="location.href='{% url 'new' %}'">Add new item</button>
    </div>
</body>
</html>