<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item list</title>
</head>
<body>
    <div>
        <h4>Item List</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            {% for practice5 in practice5data %}
            <tr>
                <td>{{practice5.name}}</td>
                <td>{{practice5.email}}</td>
                <td><a href="/update/{{practice5.id}}">Edit</a></td>
                <td><a href="/delete/{{practice5.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table> <br>
        <button onclick="location.href='{% url 'new' %}'">Add new item</button>
    </div>
</body>
</html>